# The BGA Nominations

## Introduction

We now have the nominations csv file -> called nominations.csv -> its the full data from the Google Forms that people submitted. Step one, we are going to import pandas to manipulate the data and then read in the .csv

In [68]:
import pandas as pd
import re
from re import search
%matplotlib inline

In [2]:
nominations = pd.read_csv('nominations.csv')

Next, let's take a look at how the data looks and split things into different groups based on categories. (there should be 4 columns per category)

In [3]:
len(nominations)
nominations.head(9)

,Timestamp,GOTY 1,GOTY 2,GOTY 3,GOTY 4,Performance 1,Performance 2,Performance 3,Performance 4,Music 1,...,Sports 3.1,Sports 4.1,E 1.1,E 2.1,E 3.1,E 4.1,Indie 1.1,Indie 2.1,Indie 3.1,Indie 4.1
0,2020/11/16 1:22:00 AM EST,Star Wars Jedi Fallen Order,Hades,Streets of Rage 4,Death Stranding,Cal Kestis (Cameron Monaghan),Darren Korb (Zagreus),NaN,NaN,Star Wars Jedi Fallen Order,...,NaN,NaN,NaN,NaN,NaN,NaN,My Friend Pedro,Afterparty,Sally Face,Little Misfortune
1,2020/11/20 10:05:12 PM EST,Ori and the Will of the Wisps,Man of Medan,Phasmophobia,Animal Crossing: New Horizons,Ori,Tom Nook,Ellie,Isabelle,Ori and the Will of the Wisps,...,NaN,NaN,Super Mario Odyssey,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020/11/20 10:39:35 PM EST,Mafia: Definitive Edition,Ori and The Will of the Wisps,Animal Crossing: New Horizons,Star Wars Jedi: Fallen Order,Captain Price from Call of Duty: Modern Warfare,Tommy Angelo from Mafia: Definitive Edition,Kamala Khan from Marvel's Avengers,Bruce Banner/Hulk from Marvel's Avengers,Ori and The Will of the Wisps,...,NaN,NaN,Spyro Reignited Trilogy,Stardew Valley,Minecraft,House Flipper,House Flipper,Among Us,Devious Dungeon,Dead Cells
3,2020/11/25 6:19:45 PM EST,Animal Crossing,Animal Crossing,Animal Crossing,Animal Crossing,Animal Crossing,Animal Crossing,Animal Crossing,Animal Crossing,Animal Crossing,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020/11/26 4:37:58 AM EST,DOOM,Fall Guys,Gears Tactics,Jedi,Debra Wilson as Cere Jedi Fallen Order,Elizabeth Grullon as Trilla Jedi FO,Debra Wilson as Mikayla Dorn Gears Tactics,NaN,DOOM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2020/12/01 4:58:43 PM EST,Ghost of Tsushima,Star Wars Jedi: Fallen Order,Ori and the Will of the Wisps,Hades,Ellie (Last of Us 2),Trilla Suduri (Jedi Fallen Order),NaN,NaN,Ori and the Will of the Wisp,...,Super Smash Ultimate,Dirt Rally 2.0,Animal Crossing New Horizons,Super Mario Maker 2,Ori and The Will of Wisp,Luigi's Mansion 3,What the Golf?,Fall Guys,Untitled Goose Game,Carrion
6,2020/12/04 3:41:19 PM EST,Hades,Jedi: Fallen Order,The Last of Us Part 2,ori and the will of the wisps,Ellie from Last of Us,Hades from Hades,Abby from Last of Us,Cal from Jedi: Fallen Order,Hades,...,NaN,NaN,NaN,NaN,NaN,NaN,Among Us,NaN,NaN,NaN
7,2020/12/04 5:59:44 PM EST,final fantasy 7 remake,assassin creed Valhalla,NaN,NaN,final fantasy 7 remake,NaN,NaN,NaN,final fantasy 7 remake,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2020/12/05 10:33:13 PM EST,Hades,AC Valhalla,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

from this we actually see we have some bad data, so we need to get rid of that row

In [4]:
nominations.iloc[3,:] #need to remove this row and just leave one entry for Animial Crossing for GOTY.....

Timestamp    2020/11/25 6:19:45 PM EST
GOTY 1                 Animal Crossing
GOTY 2                 Animal Crossing
GOTY 3                 Animal Crossing
GOTY 4                 Animal Crossing
                       ...
E 4.1                              NaN
Indie 1.1                          NaN
Indie 2.1                          NaN
Indie 3.1                          NaN
Indie 4.1                          NaN
Name: 3, Length: 133, dtype: object

In [5]:
nominations.drop(3, inplace = True)

Now I can continue with converting this large data table into more usefull smaller ones

In [6]:
nominations.drop('Timestamp', axis = 1, inplace = True)

#current year
CnomGOTY = nominations.iloc[:,0:4]
CnomPerf = nominations.iloc[:,4:8]
CnomMusi = nominations.iloc[:,8:12]
CnomArt = nominations.iloc[:,12:16]
CnomNar = nominations.iloc[:,16:20]
CnomCoop = nominations.iloc[:,20:24]
CnomPvp = nominations.iloc[:,24:28]
CnomOngo = nominations.iloc[:,28:32]
CnomDLC = nominations.iloc[:,32:36]
CnomOW = nominations.iloc[:,36:40]
CnomAct = nominations.iloc[:,40:44]
CnomAA = nominations.iloc[:,44:48]
CnomStra = nominations.iloc[:,48:52]
CnomRPG = nominations.iloc[:,52:56]
CnomSpor = nominations.iloc[:,56:60]
CnomFam = nominations.iloc[:,60:64]
CnomRe = nominations.iloc[:,64:68]
CnomIndi = nominations.iloc[:,68:72]
CnomCont = nominations.iloc[:,72:76]
#backlog
QnomGOTY = nominations.iloc[:,76:80]
QnomPerf = nominations.iloc[:,80:84]
QnomMusi = nominations.iloc[:,84:88]
QnomArt = nominations.iloc[:,88:92]
QnomNar = nominations.iloc[:,92:96]
QnomCoop = nominations.iloc[:,96:100]
QnomOW = nominations.iloc[:,100:104]
QnomAct = nominations.iloc[:,104:108]
QnomAA = nominations.iloc[:,108:112]
QnomStra = nominations.iloc[:,112:116]
QnomRPG = nominations.iloc[:,116:120]
QnomSpor = nominations.iloc[:,120:124]
QnomFam = nominations.iloc[:,124:128]
QnomIndi = nominations.iloc[:,128:132]

Now we can start working all of the extra columns into one column for each category. I'm going to create a function to handle this to make things simple:

In [7]:
def singler(nom_chunk, colname):
    old1 = colname + ' 1'
    old2 = colname + ' 2'
    old3 = colname + ' 3'
    old4 = colname + ' 4'

    try:
        t1 = nom_chunk[old1]
        t2 = nom_chunk[old2]
        t3 = nom_chunk[old3]
        t4 = nom_chunk[old4]
    except:
        old1 = colname + ' 1.1'
        old2 = colname + ' 2.1'
        old3 = colname + ' 3.1'
        old4 = colname + ' 4.1'
        t1 = nom_chunk[old1]
        t2 = nom_chunk[old2]
        t3 = nom_chunk[old3]
        t4 = nom_chunk[old4]
        

    t1 = pd.DataFrame(t1)
    t2 = pd.DataFrame(t2)
    t3 = pd.DataFrame(t3)
    t4 = pd.DataFrame(t4)
    t1.rename({old1:colname},axis = 'columns', inplace = True)
    t2.rename({old2:colname},axis = 'columns', inplace = True)
    t3.rename({old3:colname},axis = 'columns', inplace = True)
    t4.rename({old4:colname},axis = 'columns', inplace = True)

    temp = pd.concat([t1,t2,t3,t4], ignore_index=True, sort = False)
    temp = temp[colname].str.lower()
    temp = temp.str.replace(':','')
    temp = pd.DataFrame(temp)
    return temp

Now we can run all of the mini tables into the function and get out a full list of games in a single column. However, since this will have nan values (which we don't want), we'll just drop them, and move on from there!

In [64]:
CGOTY = singler(CnomGOTY, 'GOTY').dropna()
CPerf = singler(CnomPerf, 'Performance').dropna()
CMusi = singler(CnomMusi, 'Music').dropna()
CArt = singler(CnomArt, 'Art').dropna()
CNar = singler(CnomNar, 'Narrative').dropna()
CCoop = singler(CnomCoop, 'Co-op').dropna()
CPVP = singler(CnomPvp, 'Multi').dropna()
COngo = singler(CnomOngo, 'Ongoing').dropna()
CDLC = singler(CnomDLC, 'DLC').dropna()
COW = singler(CnomOW, 'OW').dropna()
CAct = singler(CnomAct, 'Action').dropna()
CAA = singler(CnomAA, 'AA').dropna()
CStra = singler(CnomStra, 'Strategy').dropna()
CRPG = singler(CnomRPG, 'RPG').dropna()
CSpor = singler(CnomSpor, 'Sports').dropna()
CFam = singler(CnomFam, 'E').dropna()
CRe = singler(CnomRe, 'Re').dropna()
CIndi = singler(CnomIndi, 'Indie').dropna()
CCont = singler(CnomCont, 'Creator').dropna()
#backlog
QGOTY = singler(QnomGOTY, 'GOTY').dropna()
QPerf = singler(QnomPerf, 'Performance').dropna()
QMusi = singler(QnomMusi, 'Music').dropna()
QArt = singler(QnomArt, 'Art').dropna()
QNar = singler(QnomNar, 'Narrative').dropna()
QCoop = singler(QnomCoop, 'Co-op').dropna()
QOW = singler(QnomOW, 'OW').dropna()
QAct = singler(QnomAct, 'Action').dropna()
QAA = singler(QnomAA, 'AA').dropna()
QStra = singler(QnomStra, 'Strategy').dropna()
QRPG = singler(QnomRPG, 'RPG').dropna()
QSpor = singler(QnomSpor, 'Sports').dropna()
QFam = singler(QnomFam, 'E').dropna()
QIndi = singler(QnomIndi, 'Indie').dropna()

Now that we have all these tables, we need to simplify and find similar games/characters/etc, so here we have another function to simplify the titles (and for some categories, we'll have to look at all the entries to do this -> we have to supervise this process so that it actually goes the correct way...)

In [89]:
def simplify(text, game_dict):
    fkw = ''
    found = False
    for kw in game_dict:
        if kw in text:
            found = True
            break
        else:
            found = False
    if found:
        return game_dict[kw]
    else:
        return text

Now that we have this, everything is much simpler! We just need to make occasional dictionaries where we have multiples of names not in the same format!
We can basically just group and count, then apply this function as needed! So, without further ado, here are the nominees for the awards!

---

## Game of the Year 2020

In [97]:
CG = pd.DataFrame(CGOTY.copy())

gameDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order'}


CG['GOTY'] = CG['GOTY'].apply(simplify,args = (gameDic,))
CG = pd.DataFrame(CG)

CGOTY1 = CG.groupby(['GOTY']).size()
CGOTY1 = pd.DataFrame(CGOTY1)
CGOTY1.rename({0:'nominations'},axis = 'columns', inplace = True)
CGOTY1.sort_values(by=['nominations'], ascending = False)
#CGOTY1.reset_index()

                               nominations
GOTY
star wars jedi fallen order              5
hades                                    4
ori and the will of the wisps            4
animal crossing new horizons             2
assassins creed valhalla                 2
death stranding                          1
doom                                     1
fall guys                                1
final fantasy 7 remake                   1
gears tactics                            1
ghost of tsushima                        1
mafia definitive edition                 1
man of medan                             1
phasmophobia                             1
streets of rage 4                        1
the last of us part 2                    1

so our top entries are:

In [92]:
CGOTY1.sort_values(by=['nominations'], ascending = False).head(5)

                               nominations
GOTY
star wars jedi fallen order              5
hades                                    4
ori and the will of the wisps            4
animal crossing new horizons             2
assassins creed valhalla                 2

Assassins Creed Valhalla is actually disqualified becuase it doesn't qualify; Valhalla should be on the 2021 GOTY, not the 2020, as it released November 10th, 2020.

Basically, now we have to tiebreak 2 of the games that tied with just 1 vote to make the final 6. To Metacritic!

| Game | score |
|------|-------|
| death stranding | 86 |
| doom eternal | 88 |
| fall guys | 81 |
| Final Fantasy 7 | 87 |
| gears tactics | 82 |
| ghost of tsushima | 83 |
| mafia definitive | 79 |
| man of medan | 75 |
| phasmaphobia | nan |
| streets of rage | 82 |
| last of us part 2 | 93 |

based on this list, Doom Eternal and Last of Us Part 2 join the GOTY contenders
 - Star Wars Jedi: Fallen Order
 - Hades
 - Ori and the Will of the Wisps
 - Animal Crossing New Horizons
 - The Last of Us Part 2
 - Doom Eternal


---

## Performance of the Year 2020

In [102]:
CP = pd.DataFrame(CPerf.copy())

perfDic = {'abby':'laura bailey as abby anderson from the last of us part 2',
            'ellie':'ashley johnson as ellie from the last of us part 2',
            'bruce banner':'troy baker as bruce banner from marvels avengers',
            'tommy angelo':'andrew bongiorno as tommy angelo from mafia definitive edition',
            'tom nook':'tom nook as tom nook from animal crossing new horizons',
            'ori':'andrew lackey as ori from ori and the will of the wisps (hopefully)',
            'kamala khan':'sandra saad as kamala khan in marvels avengers',
            'isabelle':'isabelle as isabelle from animal crossing new horizons',
            'trilla':'elizabeth grullon as trilla from star wars jedi fallen order',
            'mikayla':'debra wilson as mikayla dorn from gears tactics',
            'cere':'debra wilson as cere from star wars jedi fallen order',
            'zagreus':'darren korb as zagreus from hades',
            'captain price':'barry sloan as captain price from modern warfare',
            'cal':'cameron monaghan as cal kestis from star wars jedi fallen order',
            'hades':'logan cunningham as lord hades from hades'}


CP['Performance'] = CP['Performance'].apply(simplify,args = (perfDic,))
CP = pd.DataFrame(CP)

CP = CP.groupby(['Performance']).size()
CP = pd.DataFrame(CP)
CP.rename({0:'nominations'},axis = 'columns', inplace = True)
CP.sort_values(by=['nominations'], ascending = False)
#CGOTY1.reset_index()

                                                    nominations
Performance
ashley johnson as ellie from the last of us part 2            3
cameron monaghan as cal kestis from star wars j...            2
elizabeth grullon as trilla from star wars jedi...            2
andrew bongiorno as tommy angelo from mafia def...            1
andrew lackey as ori from ori and the will of t...            1
barry sloan as captain price from modern warfare              1
darren korb as zagreus from hades                             1
debra wilson as cere from star wars jedi fallen...            1
debra wilson as mikayla dorn from gears tactics               1
final fantasy 7 remake                                        1
isabelle as isabelle from animal crossing new h...            1
laura bailey as abby anderson from the last of ...            1
logan cunningham as lord hades from hades                     1
sandra saad as kamala khan in marvels avengers                1
tom nook as tom nook from animal crossing new h...            1
troy baker as bruce banner from marvels avengers              1

For this section, there isn't a good way to d a tiebreaker for all of the characters with only one vote. Thus, only the top 3 will be contenders!

The contenders for Best Performance are:
 - Ashley Johnson as Ellie from The Last of Us Part 2
 - Cameron monaghan as Cal Kestis from Star Wars Jedi: Fallen Order
 - Elizabeth Grullon as Trilla from Star Wars Jedi: Fallen Order

---

## Best Music of the Year 2020

In [101]:
CM = pd.DataFrame(CMusi.copy())

gameDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order',
            'pokemon':'pokemon sword/shield'}


CM['Music'] = CM['Music'].apply(simplify,args = (gameDic,))
CM = pd.DataFrame(CM)

CM = CM.groupby(['Music']).size()
CM = pd.DataFrame(CM)
CM.rename({0:'nominations'},axis = 'columns', inplace = True)
CM.sort_values(by=['nominations'], ascending = False)

                               nominations
Music
hades                                    3
ori and the will of the wisps            3
pokemon sword/shield                     2
star wars jedi fallen order              2
animal crossing new horizons             1
call of duty modern warfare              1
death stranding                          1
doom                                     1
final fantasy 7 remake                   1
marvel's avengers                        1
ori and the will of the wisp             1
streets of rage 4                        1
vanquish                                 1

Similar to the last section, its not quite possible to convert something like the metacritic score to tiebreak all of the games tied at one nomination for this section. As such, only the games with multiple nominations will be contenders for this award.

The Best Music of the Year contenders are:
 - Hades
 - Ori and the Will of the Wisps
 - Pokemon Sword/Shield
 - Star Wars Jedi: Fallen Order


---

## Best Art Direction 2020

In [106]:
CA = pd.DataFrame(CArt.copy())

gameDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order',
            'pokemon':'pokemon sword/shield',
            'hades':'hades',
            'streets of rage':'streets of rage 4',
            'final fantasy':'final fantasy vii',
            'death stranding':'death stranding'}


CA['Art'] = CA['Art'].apply(simplify,args = (gameDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['Art']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                               nominations
Art
hades                                    4
star wars jedi fallen order              4
ori and the will of the wisps            3
ghost of tsushima                        2
death stranding                          1
demon souls                              1
doom                                     1
fall guys                                1
final fantasy vii                        1
maneater                                 1
marvel's avengers                        1
ori and the will of the wisp             1
spiritfarer                              1
streets of rage 4                        1

Similar to the last section, its not quite possible to convert something like the metacritic score to tiebreak all of the games tied at one nomination for this section. As such, only the games with multiple nominations will be contenders for this award.

The Best Art of the Year contenders are:
 - Hades
 - Star Wars Jedi: Fallen Order
 - Ori and the Will of the Wisps
 - Ghost of Tsushima


---

## Best Narrative 2020

In [108]:
CA = pd.DataFrame(CNar.copy())

gameDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order',
            'pokemon':'pokemon sword/shield',
            'hades':'hades',
            'streets of rage':'streets of rage 4',
            'final fantasy':'final fantasy vii',
            'death stranding':'death stranding',
            'last of us':'the last of us part 2'}


CA['Narrative'] = CA['Narrative'].apply(simplify,args = (gameDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['Narrative']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                               nominations
Narrative
ori and the will of the wisps            3
star wars jedi fallen order              3
hades                                    2
the last of us part 2                    2
animal crossing new horizons             1
death stranding                          1
final fantasy vii                        1
gears tactics                            1
ghost of tsushima                        1
mafia definitive edition                 1
man of medan                             1
marvel's avengers                        1
streets of rage 4                        1

Best narrative is not something that can be interpreted from a score like metacritic, so once more we are only going with games that have multiple nominations.


Best Narrative of 2020 contenders:
 - Ori and the Will of the Wisps
 - Star Wars Jedi: Fallen Order
 - Hades
 - The Last of Us Part 2



---

## Best Co-Op Game of 2020

In [112]:
CA = pd.DataFrame(CCoop.copy())

gameDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order',
            'pokemon':'pokemon sword/shield',
            'hades':'hades',
            'streets of rage':'streets of rage 4',
            'final fantasy':'final fantasy vii',
            'death stranding':'death stranding',
            'last of us':'the last of us part 2',
            'phasm':'phasmaphobia',
            'fall':'fall guys'}


CA['Co-op'] = CA['Co-op'].apply(simplify,args = (gameDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['Co-op']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                              nominations
Co-op
phasmaphobia                            5
grounded                                4
animal crossing new horizons            3
fall guys                               2
among us                                1
fifa                                    1
journey to the savage planet            1
man of medan                            1
marvel's avengers                       1
pokemon sword/shield                    1
star wars squadrons                     1
streets of rage 4                       1

Similar to the last section, its not quite possible to convert something like the metacritic score to tiebreak all of the games tied at one nomination for this section. As such, only the games with multiple nominations will be contenders for this award.

Co-op Game of the Year Contenders:
 - Phasmaphobia
 - Grounded
 - Animal Crossing: New Horizons
 - Fall guys


---

## Best Multiplayer (PvP) Game of 2020

In [114]:
CA = pd.DataFrame(CPVP.copy())

gameDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order',
            'pokemon':'pokemon sword/shield',
            'hades':'hades',
            'streets of rage':'streets of rage 4',
            'final fantasy':'final fantasy vii',
            'death stranding':'death stranding',
            'last of us':'the last of us part 2',
            'phasm':'phasmaphobia',
            'fall':'fall guys',
            'cod':'call of duty modern warfare'}


CA['Multi'] = CA['Multi'].apply(simplify,args = (gameDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['Multi']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                             nominations
Multi
fall guys                              3
call of duty modern warfare            2
rogue company                          2
apex                                   1
call of duty warzone                   1
overwatch                              1
star wars squadrons                    1
valorant                               1
warzone                                1

The Multiplayer (PvP) Contenders:
 - Fall Guys
 - Call of Duty: Modern Warfare
 - Rogue Company


---

## Best Ongoing Game in 2020

In [117]:
CA = pd.DataFrame(COngo.copy())

gameDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order',
            'pokemon':'pokemon sword/shield',
            'hades':'hades',
            'streets of rage':'streets of rage 4',
            'final fantasy':'final fantasy vii',
            'death stranding':'death stranding',
            'last of us':'the last of us part 2',
            'phasm':'phasmaphobia',
            'fall':'fall guys',
            'cod':'call of duty modern warfare',
            'd2':'destiny 2',
            'destiny':'destiny 2',
            'apex':'apex legends',
            'fortnight':'fortnite'
            }


CA['Ongoing'] = CA['Ongoing'].apply(simplify,args = (gameDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['Ongoing']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                              nominations
Ongoing
fortnite                                4
destiny 2                               3
among us                                2
apex legends                            2
minecraft                               2
animal crossing new horizons            1
call of duty modern warfare             1
grand theft auto 5 online               1
overwatch                               1
rimworld                                1
rogue company                           1
super mario maker 2                     1

The Ongoing Game of the Year Contenders:
 - Destiny 2
 - Fortnite
 - Among Us
 - Apex Legends
 - Minecraft
  
---

## Best DLC in 2020

In [118]:
CA = pd.DataFrame(CDLC.copy())

gameDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order',
            'pokemon':'pokemon sword/shield',
            'hades':'hades',
            'streets of rage':'streets of rage 4',
            'final fantasy':'final fantasy vii',
            'death stranding':'death stranding',
            'last of us':'the last of us part 2',
            'phasm':'phasmaphobia',
            'fall':'fall guys',
            'cod':'call of duty modern warfare',
            'd2':'destiny 2',
            'destiny':'destiny 2',
            'apex':'apex legends',
            'fortnight':'fortnite'
            }


CA['DLC'] = CA['DLC'].apply(simplify,args = (gameDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['DLC']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                                  nominations
DLC
control awe                                 1
house flipper garden flipper dlc            1
island saver dinosaur island                1
kingdom hearts 3 re mind                    1
minecraft                                   1
pokemon sword/shield                        1
raft                                        1
super smash bros dlc fighters               1

Since I'm a total slacker, and there are no sets of multiple votes, all games nominated from this section will be contenders

Contenders for DLC of the Year:
 - Control AWE
 - House Flipper Garden Flipper DLC
 - Island Saver Dinosaur Island
 - Kingdom Hearts 3 ReMind
 - Minecraft
 - Pokemon Sword/Shield
 - Raft
 - Super Smash Bros

---

## Best Open World Game of 2020

In [119]:
CA = pd.DataFrame(COW.copy())

gameDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order',
            'pokemon':'pokemon sword/shield',
            'hades':'hades',
            'streets of rage':'streets of rage 4',
            'final fantasy':'final fantasy vii',
            'death stranding':'death stranding',
            'last of us':'the last of us part 2',
            'phasm':'phasmaphobia',
            'fall':'fall guys',
            'cod':'call of duty modern warfare',
            'd2':'destiny 2',
            'destiny':'destiny 2',
            'apex':'apex legends',
            'fortnight':'fortnite'
            }


CA['OW'] = CA['OW'].apply(simplify,args = (gameDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['OW']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                                         nominations
OW
death stranding                                    2
pokemon sword/shield                               2
final fantasy vii                                  1
ghost of tsushima                                  1
hzd                                                1
maneater                                           1
star wars jedi fallen order                        1
watch dogs legion                                  1
xenoblade chronicles definitive edition            1

Open World contenders
 - Death Stranding
 - Pokemon Sword/Shield


---

## Best Action Game of 2020

In [120]:
CA = pd.DataFrame(CAct.copy())

gameDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order',
            'pokemon':'pokemon sword/shield',
            'hades':'hades',
            'streets of rage':'streets of rage 4',
            'final fantasy':'final fantasy vii',
            'death stranding':'death stranding',
            'last of us':'the last of us part 2',
            'phasm':'phasmaphobia',
            'fall':'fall guys',
            'cod':'call of duty modern warfare',
            'd2':'destiny 2',
            'destiny':'destiny 2',
            'apex':'apex legends',
            'fortnight':'fortnite'
            }


CA['Action'] = CA['Action'].apply(simplify,args = (gameDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['Action']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                             nominations
Action
doom eternal                           2
hades                                  2
maneater                               2
call of duty modern warfare            1
doom                                   1
ghost of tsushima                      1
half-life alyx                         1
marvel's avengers                      1
nioh 2                                 1
star wars jedi fallen order            1
streets of rage 4                      1

Action Game of the Year Contenders:
 - Doom Eternal
 - Hades
 - Maneater


---

## Best Action Adventure Game of 2020

In [123]:
CA = pd.DataFrame(CAA.copy())

gameDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order',
            'pokemon':'pokemon sword/shield',
            'hades':'hades',
            'streets of rage':'streets of rage 4',
            'final fantasy':'final fantasy vii',
            'death stranding':'death stranding',
            'last of us':'the last of us part 2',
            'phasm':'phasmaphobia',
            'fall':'fall guys',
            'cod':'call of duty modern warfare',
            'd2':'destiny 2',
            'destiny':'destiny 2',
            'apex':'apex legends',
            'fortnight':'fortnite',
            'ori':'ori and the will of the wisps'
            }


CA['AA'] = CA['AA'].apply(simplify,args = (gameDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['AA']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                               nominations
AA
star wars jedi fallen order              4
ori and the will of the wisps            2
destroy all humans                       1
ghost of tsushima                        1
half-life alyx                           1
maneater                                 1
marvel's avengers                        1
the last of us part 2                    1

Action Adventure Contenders:
 - Star Wars Jedi: Fallen Order
 - Ori and the Will of the Wisps


---

## Best Strategy Game of 2020

In [125]:
CA = pd.DataFrame(CStra.copy())

gameDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order',
            'pokemon':'pokemon sword/shield',
            'hades':'hades',
            'streets of rage':'streets of rage 4',
            'final fantasy':'final fantasy vii',
            'death stranding':'death stranding',
            'last of us':'the last of us part 2',
            'phasm':'phasmaphobia',
            'fall':'fall guys',
            'cod':'call of duty modern warfare',
            'd2':'destiny 2',
            'destiny':'destiny 2',
            'apex':'apex legends',
            'fortnight':'fortnite',
            'ori':'ori and the will of the wisps',
            'flight sim':'Microsoft Flight Simulator'
            }


CA['Strategy'] = CA['Strategy'].apply(simplify,args = (gameDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['Strategy']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                            nominations
Strategy
gears tactics                         3
Microsoft Flight Simulator            2
crusader kings lll                    1
xcom 2                                1

Strategy Contenders:
 - Gears Tactics
 - Microsoft Flight Simulator


---

## Best RPG Game of 2020

In [126]:
CA = pd.DataFrame(CRPG.copy())

gameDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order',
            'pokemon':'pokemon sword/shield',
            'hades':'hades',
            'streets of rage':'streets of rage 4',
            'final fantasy':'final fantasy vii',
            'death stranding':'death stranding',
            'last of us':'the last of us part 2',
            'phasm':'phasmaphobia',
            'fall':'fall guys',
            'cod':'call of duty modern warfare',
            'd2':'destiny 2',
            'destiny':'destiny 2',
            'apex':'apex legends',
            'fortnight':'fortnite',
            'ori':'ori and the will of the wisps',
            'flight sim':'Microsoft Flight Simulator'
            }


CA['RPG'] = CA['RPG'].apply(simplify,args = (gameDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['RPG']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                             nominations
RPG
final fantasy vii                      1
genshin impact                         1
maneater                               1
marvel's avengers                      1
minecraft dungeons                     1
pokemon sword/shield                   1
star wars jedi fallen order            1
wasteland 3                            1
yakuza like a dragon                   1

RPG Contenders:
 - final fantasy vii
 - genshin impact
 - maneater
 - marvel's avengers
 - minecraft dungeons
 - pokemon sword/shield
 - star wars jedi fallen order
 - wasteland 3
 - yakuza like a dragon


---

## Best Sports Game of 2020

In [128]:
CA = pd.DataFrame(CSpor.copy())

gameDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order',
            'pokemon':'pokemon sword/shield',
            'hades':'hades',
            'streets of rage':'streets of rage 4',
            'final fantasy':'final fantasy vii',
            'death stranding':'death stranding',
            'last of us':'the last of us part 2',
            'phasm':'phasmaphobia',
            'fall':'fall guys',
            'cod':'call of duty modern warfare',
            'd2':'destiny 2',
            'destiny':'destiny 2',
            'apex':'apex legends',
            'fortnight':'fortnite',
            'ori':'ori and the will of the wisps',
            'flight sim':'Microsoft Flight Simulator',
            'fifa':'fifa 21'
            }


CA['Sports'] = CA['Sports'].apply(simplify,args = (gameDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['Sports']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                          nominations
Sports
fifa 21                             2
dirt 5                              1
madden nfl 21                       1
tony hawk pro skater 1+2            1

Sports Contenders:
 - FIFA 21
 - Dirt 5
 - Madden NFL 21
 - Tony Hawk Pro Skater 1+2


---

## Best Family/E10+ Game of 2020

In [130]:
CA = pd.DataFrame(CFam.copy())

gameDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order',
            'pokemon':'pokemon sword/shield',
            'hades':'hades',
            'streets of rage':'streets of rage 4',
            'final fantasy':'final fantasy vii',
            'death stranding':'death stranding',
            'last of us':'the last of us part 2',
            'phasm':'phasmaphobia',
            'fall':'fall guys',
            'cod':'call of duty modern warfare',
            'd2':'destiny 2',
            'destiny':'destiny 2',
            'apex':'apex legends',
            'fortnight':'fortnite',
            'ori':'ori and the will of the wisps',
            'flight sim':'Microsoft Flight Simulator',
            'fifa':'fifa 21'
            }


CA['E'] = CA['E'].apply(simplify,args = (gameDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['E']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                                   nominations
E
animal crossing new horizons                 3
fall guys                                    2
ori and the will of the wisps                2
crash bandicoot 4 it's about time            1
minecraft dungeons                           1
pokemon sword/shield                         1

Family/E10+ Game Contenders
 - Animal Crossing: New Horizons
 - Fall Guys
 - Ori and the Will of the Wisp


---

## Best Remake/Remaster of 2020

In [133]:
CA = pd.DataFrame(CRe.copy())

gameDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order',
            'pokemon':'pokemon sword/shield',
            'hades':'hades',
            'streets of rage':'streets of rage 4',
            'final fantasy':'final fantasy vii',
            'death stranding':'death stranding',
            'last of us':'the last of us part 2',
            'phasm':'phasmaphobia',
            'fall':'fall guys',
            'cod':'call of duty modern warfare',
            'd2':'destiny 2',
            'destiny':'destiny 2',
            'apex':'apex legends',
            'fortnight':'fortnite',
            'ori':'ori and the will of the wisps',
            'flight sim':'Microsoft Flight Simulator',
            'fifa':'fifa 21',
            'ff7':'final fantasy vii',
            'amalur':'kingdoms of amalur re-reckoning',
            're3':'resident evil 3',
            'mafia ii':'mafia 2',
            'mafia 2':'mafia 2'
            }


CA['Re'] = CA['Re'].apply(simplify,args = (gameDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['Re']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                                 nominations
Re
destroy all humans                         3
final fantasy vii                          3
kingdoms of amalur re-reckoning            2
mafia 2                                    2
resident evil 3                            2
demon souls                                1
mafia definitive edition                   1
pikmin 3 deluxe                            1
super mario 3d all-stars                   1

Remake/Remaster contenders
 - Destroy All Humans
 - Final Fantasy VII
 - Kingdoms of Amalur Re-Reckoning
 - Mafia 2
 - Resident Evil 3


---

## Best Game by an Indie Game Studio of 2020

In [135]:
CA = pd.DataFrame(CIndi.copy())

gameDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order',
            'pokemon':'pokemon sword/shield',
            'hades':'hades',
            'streets of rage':'streets of rage 4',
            'final fantasy':'final fantasy vii',
            'death stranding':'death stranding',
            'last of us':'the last of us part 2',
            'phasm':'phasmaphobia',
            'fall':'fall guys',
            'cod':'call of duty modern warfare',
            'd2':'destiny 2',
            'destiny':'destiny 2',
            'apex':'apex legends',
            'fortnight':'fortnite',
            'ori':'ori and the will of the wisps',
            'flight sim':'Microsoft Flight Simulator',
            'fifa':'fifa 21',
            'ff7':'final fantasy vii',
            'amalur':'kingdoms of amalur re-reckoning',
            're3':'resident evil 3',
            'mafia ii':'mafia 2',
            'mafia 2':'mafia 2',
            'carr':'carrion 2'
            }


CA['Indie'] = CA['Indie'].apply(simplify,args = (gameDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['Indie']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                   nominations
Indie
fall guys                    5
hades                        3
carrion 2                    2
phasmaphobia                 2
among us                     1
spelunky 2                   1
spiritfarer                  1
streets of rage 4            1

Best Game by an Indie Game Studio Contenders:
 - Fall Guys
 - Hades
 - Carrion 2
 - Phasmaphobia


---

## Content Creator of the Year

In [147]:
CA = pd.DataFrame(CCont.copy())

creaDic = {'unus annus':'unus annus (by markiplier and crankgameplays)',
            'anthony':'anthony_kongphan'
            }


CA['Creator'] = CA['Creator'].apply(simplify,args = (creaDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['Creator']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                                               nominations
Creator
unus annus (by markiplier and crankgameplays)            2
timthetatman                                             2
drlupo                                                   2
anthony_kongphan                                         2
acie                                                     1
loserfruit                                               1
valkyrae                                                 1
parttimetriggered                                        1
middleagedstream                                         1
huskerrs                                                 1
jacksepticeye                                            1
exp                                                      1
corpse                                                   1
cohh                                                     1
bloodydrongo                                             1
bleu                                                     1
yetiup                                                   1

Content Creator of the Year Contenders:
 - Unus Annus by Markiplier and CrankGamePlays
 - TimTheTatman
 - DrLupo
 - Anthony_Kongphan


---

## THE QUINQUO!! Games of 2020

### The Quinquo Game of the Year 2020

In [156]:
CA = pd.DataFrame(QGOTY.copy())

quinDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order',
            'pokemon':'pokemon sword/shield',
            'hades':'hades',
            'streets of rage':'streets of rage 4',
            'final fantasy':'final fantasy vii',
            'death stranding':'death stranding',
            'last of us':'the last of us part 1',
            'phasm':'phasmaphobia',
            'fall':'fall guys',
            'cod':'call of duty modern warfare',
            'd2':'destiny 2',
            'destiny':'destiny 2',
            'apex':'apex legends',
            'fortnight':'fortnite',
            'ori':'ori and the will of the wisps',
            'flight sim':'Microsoft Flight Simulator',
            'fifa':'fifa 21',
            'ff7':'final fantasy vii',
            'amalur':'kingdoms of amalur re-reckoning',
            're3':'resident evil 3',
            'mafia ii':'mafia 2',
            'mafia 2':'mafia 2',
            'carr':'carrion 2',
            'spider':'marvels spider-man',
            'gears 5':'gears 5'

            }


CA['GOTY'] = CA['GOTY'].apply(simplify,args = (quinDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['GOTY']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                                      nominations
GOTY
marvels spider-man                              3
the last of us part 1                           2
gears 5                                         2
little misfortune                               1
super mario maker 2                             1
sherlock holmes the devil's daughter            1
sekiro shadows die twice                        1
ori and the will of the wisps                   1
nier automata                                   1
a plague tale innocence                         1
a way out                                       1
god of war                                      1
ghost of tsushima                               1
far cry 5                                       1
control                                         1
captain toad treasure tracker                   1
assassins creed odyssey                         1
hellblade                                       1


Quinquo GOTY Contenders:
 - Marvel's Spider-man
 - The Last of Us Part 1
 - Gears 5

---

### The Quinquo Performance of the Year 2020

In [161]:
CA = pd.DataFrame(QPerf.copy())

qperfDic = {'abby':'laura bailey as abby anderson from the last of us part 2',
            'ellie':'ashley johnson as ellie from the last of us part 1',
            'bruce banner':'troy baker as bruce banner from marvels avengers',
            'tommy angelo':'andrew bongiorno as tommy angelo from mafia definitive edition',
            'tom nook':'tom nook as tom nook from animal crossing new horizons',
            'ori':'andrew lackey as ori from ori and the blind forest',
            'kamala khan':'sandra saad as kamala khan in marvels avengers',
            'isabelle':'isabelle as isabelle from animal crossing new horizons',
            'trilla':'elizabeth grullon as trilla from star wars jedi fallen order',
            'mikayla':'debra wilson as mikayla dorn from gears tactics',
            'cere':'debra wilson as cere from star wars jedi fallen order',
            'zagreus':'darren korb as zagreus from hades',
            'captain price':'barry sloan as captain price from modern warfare',
            'cal':'cameron monaghan as cal kestis from star wars jedi fallen order',
            'hades':'logan cunningham as lord hades from hades',
            'kait':'laura bailey as kait diaz from gears 5',
            'joel':'troy baker as joel from the last of us part 1'}


CA['Performance'] = CA['Performance'].apply(simplify,args = (qperfDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['Performance']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                                                    nominations
Performance
ashley johnson as ellie from the last of us part 1            3
laura bailey as kait diaz from gears 5                        3
andrew lackey as ori from ori and the blind forest            2
troy baker as joel from the last of us part 1                 2
2b from nier automata                                         1
lara croft from shadow of the tomb raider                     1
senua from hellblade senua's sacrifice                        1
mj - spiderman                                                1
misfortune ramirez hernandez (natalia martinsson)             1
joesph seed (greg bryk)                                       1
kassandra from ac odyssey                                     1
amicia - plague tale                                          1
jesse (control)                                               1
jeremy davies as baldur gow                                   1
elizabeth grullon as trilla from star wars jedi...            1
dr. otto octavius from spider-man                             1
yuri lowenthal (spider-man)                                   1

The Quinquo Performance contenders:
 - Ashley Johnson as Ellie from The Last of Us Part 1
 - Laura Bailey as Kait Diaz from Gears 5
 - Andrew Lackey as Ori from Ori and the Blind Forest
 - Troy Baker as Joel from The Last of Us Part 1


---

### The Quinquo Best Music of 2020

In [163]:
CA = pd.DataFrame(QMusi.copy())

quinDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order',
            'pokemon':'pokemon sword/shield',
            'hades':'hades',
            'streets of rage':'streets of rage 4',
            'final fantasy':'final fantasy vii',
            'death stranding':'death stranding',
            'last of us':'the last of us part 1',
            'phasm':'phasmaphobia',
            'fall':'fall guys',
            'cod':'call of duty modern warfare',
            'd2':'destiny 2',
            'destiny':'destiny 2',
            'apex':'apex legends',
            'fortnight':'fortnite',
            'ori':'ori and the blind forest',
            'flight sim':'Microsoft Flight Simulator',
            'fifa':'fifa 20',
            'ff7':'final fantasy vii',
            'amalur':'kingdoms of amalur re-reckoning',
            're3':'resident evil 3',
            'mafia ii':'mafia 2',
            'mafia 2':'mafia 2',
            'carr':'carrion 2',
            'spider':'marvels spider-man',
            'gears 5':'gears 5'

            }


CA['Music'] = CA['Music'].apply(simplify,args = (quinDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['Music']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                              nominations
Music
ori and the blind forest                3
marvels spider-man                      2
a plague tale innocence                 1
ac odyssey                              1
animal crossing new horizons            1
destiny 2                               1
devil may cry 5                         1
gears 5                                 1
god of war                              1
hades                                   1
hellblade                               1
hellblade senua's sacrifice             1
metro exodus                            1
nier automata                           1
super smash bros ultimate               1

Best Quinquo Music contenders:
 - Ori and the Blind Forest
 - Marvel's Spider-man


---

### The Quinquo Best Art of 2020

In [164]:
CA = pd.DataFrame(QArt.copy())

quinDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order',
            'pokemon':'pokemon sword/shield',
            'hades':'hades',
            'streets of rage':'streets of rage 4',
            'final fantasy':'final fantasy vii',
            'death stranding':'death stranding',
            'last of us':'the last of us part 1',
            'phasm':'phasmaphobia',
            'fall':'fall guys',
            'cod':'call of duty modern warfare',
            'd2':'destiny 2',
            'destiny':'destiny 2',
            'apex':'apex legends',
            'fortnight':'fortnite',
            'ori':'ori and the blind forest',
            'flight sim':'Microsoft Flight Simulator',
            'fifa':'fifa 20',
            'ff7':'final fantasy vii',
            'amalur':'kingdoms of amalur re-reckoning',
            're3':'resident evil 3',
            'mafia ii':'mafia 2',
            'mafia 2':'mafia 2',
            'carr':'carrion 2',
            'spider':'marvels spider-man',
            'gears 5':'gears 5'

            }


CA['Art'] = CA['Art'].apply(simplify,args = (quinDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['Art']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                                                    nominations
Art
ori and the blind forest                                      3
marvels spider-man                                            2
ac odyssey                                                    1
sekiro shadows die twice                                      1
sea of solitude                                               1
no man's sky                                                  1
nier automata                                                 1
natalia martinsson (little misfortune)                        1
legend of zelda links awakening                               1
dead cells                                                    1
jean alexis doyan (far cry 5)                                 1
hellblade                                                     1
god of war                                                    1
ghost of tsushima                                             1
gears 5                                                       1
death stranding                                               1
yuri adachi daiki nishioka keisuke okubo (capta...            1

Best Quinquo Art contenders:
 - Ori and the Blind Forest
 - Marvel's Spider-man


---

### The Quinquo Best Narrative Game of 2020

In [168]:
CA = pd.DataFrame(QNar.copy())

quinDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order',
            'pokemon':'pokemon sword/shield',
            'hades':'hades',
            'streets of rage':'streets of rage 4',
            'final fantasy':'final fantasy vii',
            'death stranding':'death stranding',
            'last of us':'the last of us part 1',
            'phasm':'phasmaphobia',
            'fall':'fall guys',
            'cod':'call of duty modern warfare',
            'd2':'destiny 2',
            'destiny':'destiny 2',
            'apex':'apex legends',
            'fortnight':'fortnite',
            'ori':'ori and the blind forest',
            'flight sim':'Microsoft Flight Simulator',
            'fifa':'fifa 20',
            'ff7':'final fantasy vii',
            'amalur':'kingdoms of amalur re-reckoning',
            're3':'resident evil 3',
            'mafia ii':'mafia 2',
            'mafia 2':'mafia 2',
            'carr':'carrion 2',
            'spider':'marvels spider-man',
            'gears 5':'gears 5',
            'hellblade':'hellblade senuas sacrifice'

            }


CA['Narrative'] = CA['Narrative'].apply(simplify,args = (quinDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['Narrative']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                             nominations
Narrative
ori and the blind forest               3
hellblade senuas sacrifice             2
the last of us part 1                  2
control                                1
far cry 5                              1
far cry new dawn                       1
gears 5                                1
ghost of tsushima                      1
ac odyssey                             1
little misfortune                      1
marvels spider-man                     1
metro exodus                           1
nier automata                          1
afterparty                             1
sekiro shadows die twice               1
star wars jedi fallen order            1
a plague tale                          1

Best Quinquo Narrative contenders:
 - Ori and the Blind Forest
 - Hellblade: Senua's Sacrifice
 - The Last of Us Part 1


---

### The Quinquo Best Co-op Game of 2020

In [170]:
CA = pd.DataFrame(QCoop.copy())

quinDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order',
            'pokemon':'pokemon sword/shield',
            'hades':'hades',
            'streets of rage':'streets of rage 4',
            'final fantasy':'final fantasy vii',
            'death stranding':'death stranding',
            'last of us':'the last of us part 1',
            'phasm':'phasmaphobia',
            'fall':'fall guys',
            'cod':'call of duty modern warfare',
            'd2':'destiny 2',
            'destiny':'destiny 2',
            'apex':'apex legends',
            'fortnight':'fortnite',
            'ori':'ori and the blind forest',
            'flight sim':'Microsoft Flight Simulator',
            'fifa':'fifa 20',
            'ff7':'final fantasy vii',
            'amalur':'kingdoms of amalur re-reckoning',
            're3':'resident evil 3',
            'mafia ii':'mafia 2',
            'mafia 2':'mafia 2',
            'carr':'carrion 2',
            'spider':'marvels spider-man',
            'gears 5':'gears 5',
            'hellblade':'hellblade senuas sacrifice'

            }


CA['Co-op'] = CA['Co-op'].apply(simplify,args = (quinDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['Co-op']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                              nominations
Co-op
gears 5                                 3
animal crossing new horizons            1
destiny 2                               1
killing floor 2                         1
minecraft                               1
phasmaphobia                            1
star wars squadrons                     1
stardew valley                          1
world war z                             1

As Gears 5 is the only game to recieve multiple nominations in this category, it has won.

Quinquo Best Co-op Game Contenders:
 - Gears 5


---

### The Quinquo Best Open World Game of 2020

In [173]:
CA = pd.DataFrame(QOW.copy())

quinDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order',
            'pokemon':'pokemon sword/shield',
            'hades':'hades',
            'streets of rage':'streets of rage 4',
            'final fantasy':'final fantasy vii',
            'death stranding':'death stranding',
            'last of us':'the last of us part 1',
            'phasm':'phasmaphobia',
            'fall':'fall guys',
            'cod':'call of duty modern warfare',
            'd2':'destiny 2',
            'destiny':'destiny 2',
            'apex':'apex legends',
            'fortnight':'fortnite',
            'ori':'ori and the blind forest',
            'flight sim':'Microsoft Flight Simulator',
            'fifa':'fifa 20',
            'ff7':'final fantasy vii',
            'amalur':'kingdoms of amalur re-reckoning',
            're3':'resident evil 3',
            'mafia ii':'mafia 2',
            'mafia 2':'mafia 2',
            'carr':'carrion 2',
            'spider':'marvels spider-man',
            'gears 5':'gears 5',
            'hellblade':'hellblade senuas sacrifice',
            'odyssey':'assassins creed odyssey'
            }


CA['OW'] = CA['OW'].apply(simplify,args = (quinDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['OW']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                                         nominations
OW
assassins creed odyssey                            2
fall guys                                          2
marvels spider-man                                 2
ori and the blind forest                           2
death stranding                                    1
far cry 5                                          1
ghost of tsushima                                  1
nier automata                                      1
no man's sky                                       1
sekiro shadows die twice                           1
skyrim                                             1
xenoblade chronicles definitive edition            1

As Fall Guys is not a Open World Game, and also came out in the past year, it is disqualified from this category

Quinquo Open World Game Contenders:
 - Assassins Creed Odyssey
 - Marvel's Spier-Man
 - Ori and the Blind Forest


---

### The Quinquo Best Action Game of 2020

In [174]:
CA = pd.DataFrame(QAct.copy())

quinDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order',
            'pokemon':'pokemon sword/shield',
            'hades':'hades',
            'streets of rage':'streets of rage 4',
            'final fantasy':'final fantasy vii',
            'death stranding':'death stranding',
            'last of us':'the last of us part 1',
            'phasm':'phasmaphobia',
            'fall':'fall guys',
            'cod':'call of duty modern warfare',
            'd2':'destiny 2',
            'destiny':'destiny 2',
            'apex':'apex legends',
            'fortnight':'fortnite',
            'ori':'ori and the blind forest',
            'flight sim':'Microsoft Flight Simulator',
            'fifa':'fifa 20',
            'ff7':'final fantasy vii',
            'amalur':'kingdoms of amalur re-reckoning',
            're3':'resident evil 3',
            'mafia ii':'mafia 2',
            'mafia 2':'mafia 2',
            'carr':'carrion 2',
            'spider':'marvels spider-man',
            'gears 5':'gears 5',
            'hellblade':'hellblade senuas sacrifice',
            'odyssey':'assassins creed odyssey'
            }


CA['Action'] = CA['Action'].apply(simplify,args = (quinDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['Action']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                               nominations
Action
gears 5                                  2
apex legends                             1
bulletstorm full clip edition            1
doom eternal                             1
marvels spider-man                       1
metro exodus                             1
my friend pedro                          1
rage 2                                   1
streets of rage 4                        1

As Gears 5 is the only game to recieve multiple nominations in this category, it has won.

Quinquo Best Action Game Contenders:
 - Gears 5


---

### The Quinquo Best Action Adventure Game of 2020

In [177]:
CA = pd.DataFrame(QAA.copy())

quinDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order',
            'pokemon':'pokemon sword/shield',
            'hades':'hades',
            'streets of rage':'streets of rage 4',
            'final fantasy':'final fantasy vii',
            'death stranding':'death stranding',
            'last of us':'the last of us part 1',
            'phasm':'phasmaphobia',
            'fall':'fall guys',
            'cod':'call of duty modern warfare',
            'd2':'destiny 2',
            'destiny':'destiny 2',
            'apex':'apex legends',
            'fortnight':'fortnite',
            'ori':'ori and the blind forest',
            'flight sim':'Microsoft Flight Simulator',
            'fifa':'fifa 20',
            'ff7':'final fantasy vii',
            'amalur':'kingdoms of amalur re-reckoning',
            're3':'resident evil 3',
            'mafia ii':'mafia 2',
            'mafia 2':'mafia 2',
            'carr':'carrion 2',
            'spider':'marvels spider-man',
            'gears 5':'gears 5',
            'hellblade':'hellblade senuas sacrifice',
            'odyssey':'assassins creed odyssey',
            'gow':'god of war'
            }


CA['AA'] = CA['AA'].apply(simplify,args = (quinDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['AA']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                          nominations
AA
assassins creed odyssey             2
ori and the blind forest            2
control                             1
gears 5                             1
ghost of tsushima                   1
god of war                          1
metro exodus                        1
nier automata                       1
rage 2                              1
sekiro shadows die twice            1
the last of us part 1               1

Quinquo Action Adventure Contenders:
 - Assassins Creed Odyssey
 - Ori and the Blind Forest


---

In [178]:
CA = pd.DataFrame(QSpor.copy())

quinDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order',
            'pokemon':'pokemon sword/shield',
            'hades':'hades',
            'streets of rage':'streets of rage 4',
            'final fantasy':'final fantasy vii',
            'death stranding':'death stranding',
            'last of us':'the last of us part 1',
            'phasm':'phasmaphobia',
            'fall':'fall guys',
            'cod':'call of duty modern warfare',
            'd2':'destiny 2',
            'destiny':'destiny 2',
            'apex':'apex legends',
            'fortnight':'fortnite',
            'ori':'ori and the blind forest',
            'flight sim':'Microsoft Flight Simulator',
            'fifa':'fifa 20',
            'ff7':'final fantasy vii',
            'amalur':'kingdoms of amalur re-reckoning',
            're3':'resident evil 3',
            'mafia ii':'mafia 2',
            'mafia 2':'mafia 2',
            'carr':'carrion 2',
            'spider':'marvels spider-man',
            'gears 5':'gears 5',
            'hellblade':'hellblade senuas sacrifice',
            'odyssey':'assassins creed odyssey'
            }


CA['Sports'] = CA['Sports'].apply(simplify,args = (quinDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['Sports']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                      nominations
Sports
fifa 20                         2
dirt rally 2.0                  1
mortal kombat 11                1
super smash ultimate            1

As FIFA 20 is the only nomination with multiple votes, it has won this category.

Quinquo Sports Contenders:
 - FIFA 20


---

### The Quinquo Best Strategy Game of 2020

In [179]:
CA = pd.DataFrame(QStra.copy())

quinDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order',
            'pokemon':'pokemon sword/shield',
            'hades':'hades',
            'streets of rage':'streets of rage 4',
            'final fantasy':'final fantasy vii',
            'death stranding':'death stranding',
            'last of us':'the last of us part 1',
            'phasm':'phasmaphobia',
            'fall':'fall guys',
            'cod':'call of duty modern warfare',
            'd2':'destiny 2',
            'destiny':'destiny 2',
            'apex':'apex legends',
            'fortnight':'fortnite',
            'ori':'ori and the blind forest',
            'flight sim':'Microsoft Flight Simulator',
            'fifa':'fifa 20',
            'ff7':'final fantasy vii',
            'amalur':'kingdoms of amalur re-reckoning',
            're3':'resident evil 3',
            'mafia ii':'mafia 2',
            'mafia 2':'mafia 2',
            'carr':'carrion 2',
            'spider':'marvels spider-man',
            'gears 5':'gears 5',
            'hellblade':'hellblade senuas sacrifice',
            'odyssey':'assassins creed odyssey'
            }


CA['Strategy'] = CA['Strategy'].apply(simplify,args = (quinDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['Strategy']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                            nominations
Strategy
Microsoft Flight Simulator            1
crusader kings iii                    1
fire emblems three houses             1
gears tactics                         1
rimworld                              1
sins of a solar empire                1

Quinquo Strategy Game Contenders:
 - Microsoft Flight Simulator
 - Crusader Kings 3
 - Fire Emblems 3 Houses
 - Gears Tactics
 - Rimworld
 - Sins of a Solar Empire


---

### The Quinquo Best RPG Game of 2020

### The Quinquo Best Sports Game of 2020

In [178]:
CA = pd.DataFrame(QSpor.copy())

quinDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order',
            'pokemon':'pokemon sword/shield',
            'hades':'hades',
            'streets of rage':'streets of rage 4',
            'final fantasy':'final fantasy vii',
            'death stranding':'death stranding',
            'last of us':'the last of us part 1',
            'phasm':'phasmaphobia',
            'fall':'fall guys',
            'cod':'call of duty modern warfare',
            'd2':'destiny 2',
            'destiny':'destiny 2',
            'apex':'apex legends',
            'fortnight':'fortnite',
            'ori':'ori and the blind forest',
            'flight sim':'Microsoft Flight Simulator',
            'fifa':'fifa 20',
            'ff7':'final fantasy vii',
            'amalur':'kingdoms of amalur re-reckoning',
            're3':'resident evil 3',
            'mafia ii':'mafia 2',
            'mafia 2':'mafia 2',
            'carr':'carrion 2',
            'spider':'marvels spider-man',
            'gears 5':'gears 5',
            'hellblade':'hellblade senuas sacrifice',
            'odyssey':'assassins creed odyssey'
            }


CA['Sports'] = CA['Sports'].apply(simplify,args = (quinDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['Sports']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                      nominations
Sports
fifa 20                         2
dirt rally 2.0                  1
mortal kombat 11                1
super smash ultimate            1

Kingdom Hearts 3 is the only game to win multiple nominations in this category, so it has won.

Quinquo RPG contenders:
 - Kingdom Hearts 3


---

### The Quinquo Best Family/E10+ Game of 2020

In [182]:
CA = pd.DataFrame(QFam.copy())

quinDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order',
            'pokemon':'pokemon sword/shield',
            'hades':'hades',
            'streets of rage':'streets of rage 4',
            'final fantasy':'final fantasy vii',
            'death stranding':'death stranding',
            'last of us':'the last of us part 1',
            'phasm':'phasmaphobia',
            'fall':'fall guys',
            'cod':'call of duty modern warfare',
            'd2':'destiny 2',
            'destiny':'destiny 2',
            'apex':'apex legends',
            'fortnight':'fortnite',
            'ori':'ori and the blind forest',
            'flight sim':'Microsoft Flight Simulator',
            'fifa':'fifa 20',
            'ff7':'final fantasy vii',
            'amalur':'kingdoms of amalur re-reckoning',
            're3':'resident evil 3',
            'mafia ii':'mafia 2',
            'mafia 2':'mafia 2',
            'carr':'carrion 2',
            'spider':'marvels spider-man',
            'gears 5':'gears 5',
            'hellblade':'hellblade senuas sacrifice',
            'odyssey':'assassins creed odyssey'
            }


CA['E'] = CA['E'].apply(simplify,args = (quinDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['E']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                              nominations
E
animal crossing new horizons            1
assassins creed odyssey                 1
house flipper                           1
luigi's mansion 3                       1
minecraft                               1
ori and the blind forest                1
spyro reignited trilogy                 1
stardew valley                          1
super mario maker 2                     1

Assassins Creed Odyssey is rated M. So it is disqualified. Animal Crossing ame out this year, so is disqualified. 

Quinquo Family/E10+ contenders:
 - House Flipper
 - Luigi's Mansion 3
 - Minecraft
 - Ori and the Blind Forest
 - Spyro Reignited
 - Stardew Valley
 - Super Mario Maker 2


---

### The Quinquo Best Game Deveoloped by an Indie Studio of 2020

In [183]:
CA = pd.DataFrame(QIndi.copy())

quinDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order',
            'pokemon':'pokemon sword/shield',
            'hades':'hades',
            'streets of rage':'streets of rage 4',
            'final fantasy':'final fantasy vii',
            'death stranding':'death stranding',
            'last of us':'the last of us part 1',
            'phasm':'phasmaphobia',
            'fall':'fall guys',
            'cod':'call of duty modern warfare',
            'd2':'destiny 2',
            'destiny':'destiny 2',
            'apex':'apex legends',
            'fortnight':'fortnite',
            'ori':'ori and the blind forest',
            'flight sim':'Microsoft Flight Simulator',
            'fifa':'fifa 20',
            'ff7':'final fantasy vii',
            'amalur':'kingdoms of amalur re-reckoning',
            're3':'resident evil 3',
            'mafia ii':'mafia 2',
            'mafia 2':'mafia 2',
            'carr':'carrion 2',
            'spider':'marvels spider-man',
            'gears 5':'gears 5',
            'hellblade':'hellblade senuas sacrifice',
            'odyssey':'assassins creed odyssey'
            }


CA['Indie'] = CA['Indie'].apply(simplify,args = (quinDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['Indie']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                     nominations
Indie
among us                       2
afterparty                     1
carrion 2                      1
dead cells                     1
devious dungeon                1
fall guys                      1
house flipper                  1
little misfortune              1
my friend pedro                1
sally face                     1
untitled goose game            1
what the golf?                 1

Since it is the only game with multiple nominations, Among Us is the winner of this category

Quinquo Game Developed by an Indie Studio contender:
 - Among Us


---

## Conclusion

And that's it for this year guys! Those are the nominees, get ready to vote for your favorites!