# The BGA Nominations

## Introduction

We now have the nominations csv file -> called nominations.csv -> its the full data from the Google Forms that people submitted. Step one, we are going to import pandas to manipulate the data and then read in the .csv

In [53]:
import pandas as pd
import re
from re import search
%matplotlib inline

In [54]:
nominations = pd.read_csv('data/BGA_Nominations_2021_Responses.csv')

Next, let's take a look at how the data looks and split things into different groups based on categories. For 2021, there is 1 column for each catory, for the Quinquo there will be 4 columns per category.

In [55]:
len(nominations)
nominations.head(9)

,Timestamp,Game of the Year (Pick up to 4),Best Performance (Pick up to 4),Best Music (Pick up to 4),Best Art Direction (Pick up to 4),Best Narrative (Pick up to 4),Best Co-Op (Pick up to 4),Best Multiplayer (PvP) Game (Pick up to 4),Best Ongoing Game (Pick up to 4),Best DLC (Pick up to 4),...,Performance 3,Performance 4,Music 1,Music 2,Music 3,Music 4,Art 1,Art 2,Art 3,Art 4
0,11/1/2021 16:21:53,"Assassins Creed Valhalla, Life Is Strange: Tru...","Eivor (Assassins Creed Valhalla), Steph Gingri...","Assassins Creed Valhalla, Life Is Strange: Tru...","Assassins Creed Valhalla, Life Is Strange: Tru...","Assassins Creed Valhalla, Resident Evil Villag...","It Takes Two, Monster Hunter Rise, Back 4 Bloo...","Packman99, Pokemon Unite, Hood: Outlaws and Le...","Destiny 2, Final Fantasy XIV, Among Us, Dead B...","Doom Eternal: The Ancient Gods - Part 2, Assas...",...,Elizabeth Comstock (Bioshock Infinite),Delilah (Firewatch),Uncharted 4 A Thief's End,Pikmin 3,Firewatch,Life is Strange,Pikmin 3,Bioshock Infinite,Firewatch,Uncharted 4 A Thief's End
1,11/1/2021 21:53:48,"Assassins Creed Valhalla, Resident Evil Villag...","Eivor (Assassins Creed Valhalla), Kena (Kena: ...","Assassins Creed Valhalla, Resident Evil Villag...","Assassins Creed Valhalla, Resident Evil Villag...","Assassins Creed Valhalla, Resident Evil Villag...","Outriders, It Takes Two, Valheim, Back 4 Blood",New World,"Destiny 2, Elder Scrolls Online, Final Fantasy...",Doom Eternal: The Ancient Gods - Part 2,...,NaN,NaN,Dark Souls,Stardew Valley,NaN,NaN,Dark Souls,Stardew Valley,NaN,NaN
2,11/2/2021 8:48:55,"Assassins Creed Valhalla, Resident Evil Villag...","Eivor (Assassins Creed Valhalla), Basim/Loki (...","Assassins Creed Valhalla, Resident Evil Villag...","Resident Evil Village, Life Is Strange: True C...","Assassins Creed Valhalla, Resident Evil Villag...","It Takes Two, Back 4 Blood","Packman99, Pokemon Unite",Destiny 2,"Doom Eternal: The Ancient Gods - Part 2, Crusa...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12/7/2021 16:33:09,"Assassins Creed Valhalla, Immortals Fenyx Risi...","Eivor (Assassins Creed Valhalla), Basim/Loki (...","Assassins Creed Valhalla, Immortals Fenyx Risi...","Assassins Creed Valhalla, Immortals Fenyx Risi...","Assassins Creed Valhalla, Immortals Fenyx Risi...","Outriders, It Takes Two, Valheim","Packman99, Pokemon Unite, New World, Hood: Out...","Destiny 2, Apex Legends, Elder Scrolls Online,...","The Outer Worlds: Murder on Eridanos, Doom Ete...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12/7/2021 20:35:24,"Immortals Fenyx Rising, Far Cry 6, Metroid Dre...","Basim/Loki (Assassins Creed Valhalla), Fenyx (...","Assassins Creed Valhalla, Immortals Fenyx Risi...","Immortals Fenyx Rising, Far Cry 6, Marvel's Sp...","Life Is Strange: True Colors, Kena: Bridge of ...","It Takes Two, Back 4 Blood","Pokemon Unite, New World","Destiny 2, Apex Legends, Final Fantasy XIV",Doom Eternal: The Ancient Gods - Part 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
nominations.columns

Index(['Timestamp', 'Game of the Year (Pick up to 4)',
       'Best Performance (Pick up to 4)', 'Best Music (Pick up to 4)',
       'Best Art Direction (Pick up to 4)', 'Best Narrative (Pick up to 4)',
       'Best Co-Op (Pick up to 4)',
       'Best Multiplayer (PvP) Game (Pick up to 4)',
       'Best Ongoing Game (Pick up to 4)', 'Best DLC (Pick up to 4)',
       'Best Open World Game (Pick up to 4)',
       'Best Action Game (Pick up to 4)',
       'Best Action Adventure Game (Pick up to 4)',
       'Best Strategy (Pick up to 4)', 'Best RPG (Pick up to 4)',
       'Best Sports/Fighting Game (Pick up to 4)',
       'Best E/E10+ Game (Pick up to 4)',
       'Best Remake or Remaster (Pick up to 4)',
       'Best Indie Game (Pick up to 4)',
       'Content Creator of the Year (Pick up to 4)', 'GOTY 1', 'GOTY 2',
       'GOTY 3', 'GOTY 4', 'Performance 1', 'Performance 2', 'Performance 3',
       'Performance 4', 'Music 1', 'Music 2', 'Music 3', 'Music 4', 'Art 1',
       'Art 2', 'Art 3', 'Art 4'],
      dtype='object')

We don't have any bad data, so all of the data will be kept

Now I can continue with converting this large data table into more usefull smaller ones

In [57]:
nominations.drop('Timestamp', axis = 1, inplace = True)

#current year
CnomGOTY = nominations.iloc[:,0]
CnomPerf = nominations.iloc[:,1]
CnomMusi = nominations.iloc[:,2]
CnomArt = nominations.iloc[:,3]
CnomNar = nominations.iloc[:,4]
CnomCoop = nominations.iloc[:,5]
CnomPvp = nominations.iloc[:,6]
CnomOngo = nominations.iloc[:,7]
CnomDLC = nominations.iloc[:,8]
CnomOW = nominations.iloc[:,9]
CnomAct = nominations.iloc[:,10]
CnomAA = nominations.iloc[:,11]
CnomStra = nominations.iloc[:,12]
CnomRPG = nominations.iloc[:,13]
CnomSpor = nominations.iloc[:,14]
CnomFam = nominations.iloc[:,15]
CnomRe = nominations.iloc[:,16]
CnomIndi = nominations.iloc[:,17]
CnomCont = nominations.iloc[:,18]

In [87]:
#backlog
QnomGOTY = nominations.iloc[:,19:23]
QnomPerf = nominations.iloc[:,23:27]
QnomMusi = nominations.iloc[:,27:31]
QnomArt = nominations.iloc[:,31:35]

Now we can start working all of the extra columns into one column for each category. I'm going to create a function to handle this to make things simple:

## GOTY Nominatinees:

In [59]:
GOTY =CnomGOTY[0]+ ', ' + CnomGOTY[1] + ', ' + CnomGOTY[2]+ ', ' + CnomGOTY[3]+ ', ' + CnomGOTY[4]
GOTY = GOTY.split(', ')
GOTYS = set(GOTY)

GOTYnom = []
for game in GOTYS:
    noms = GOTY.count(game)
    GOTYnom.append((game,noms))

CnomGOTY = pd.DataFrame(GOTYnom)
CnomGOTY.sort_values(by=[1],ascending=False,inplace=True)
CnomGOTY

                                   0  1
6           Assassins Creed Valhalla  4
5       Life Is Strange: True Colors  3
0                          Far Cry 6  2
1             Immortals Fenyx Rising  2
2  Marvel's Spider-Man Miles Morales  2
3            Kena: Bridge of Spirits  2
8              Resident Evil Village  2
4                      Metroid Dread  1
7                Monster Hunter Rise  1

Tie breaker:
| Game | Average Metacritic |
| ---- | ---- |
| Far Cry 6	| 77 |
| Immortals Fenyx Rising | 78.2 |
| Marvel's Spider-Man Miles Morales | 84.5 |
| Kena: Bridge of Spirits | 83.3 |
| Resident Evil Village | 82.8 |
| Life is Strange: True Colors | 82.3 |
| Assassins Creed Valhalla | 82.4 |

As the lowest score by Metacritic, Far Cry 6 is left out, but the rest qualify

GOTY Nominatinees:

 * Assassins Creed Valhalla
 * Life is Strange: True Colors
 * Immortals Fenyx Rising
 * Marvel's Spider Man: Miles Morales
 * Kena: Bridge of Spirits
 * Resident Evil Village.

## Performance Nominees

In [63]:
n = ""
for balot in CnomPerf:
    n = n + balot + ', '
GOTY = n.split(', ')
GOTYS = set(GOTY)

GOTYnom = []
for game in GOTYS:
    noms = GOTY.count(game)
    GOTYnom.append((game,noms))

CnomPerf = pd.DataFrame(GOTYnom)
CnomPerf.sort_values(by=[1],ascending=False,inplace=True)
CnomPerf

                                                   0  1
4                   Eivor (Assassins Creed Valhalla)  4
7                                 V (Cyberpunk 2077)  3
8              Basim/Loki (Assassins Creed Valhalla)  3
2                     Kena (Kena: Bridge of Spirits)  2
6                         Antón Castillo (Far Cry 6)  2
9                     Fenyx (Immortals Fenyx Rising)  2
0                                                     1
1  Miles Morales (Marvel's Spider-Man Miles Morales)  1
3      Steph Gingrich ( Life is Strange True Colors)  1
5                          The Cop (Twelve Minutes)   1

Performance Nominees

 * Eivor (Assassins Creed Valhalla)
 * V (Cyberpunk 2077)
 * Basim/Loki (Assassins Creed Valhalla)
 * Kena (Kena: Bridge of Spirits)
 * Antón Castillo (Far Cry 6)
 * Fenyx (Immortals Fenyx Rising)

## Music Nominees

In [64]:
n = ""
for balot in CnomMusi:
    n = n + balot + ', '
GOTY = n.split(', ')
GOTYS = set(GOTY)

GOTYnom = []
for game in GOTYS:
    noms = GOTY.count(game)
    GOTYnom.append((game,noms))

CnomMusi = pd.DataFrame(GOTYnom)
CnomMusi.sort_values(by=[1],ascending=False,inplace=True)
CnomMusi

                                    0  1
7            Assassins Creed Valhalla  5
0                           Far Cry 6  2
1              Immortals Fenyx Rising  2
4             Kena: Bridge of Spirits  2
6        Life Is Strange: True Colors  2
10              Resident Evil Village  2
2                                      1
3                       Scarlet Nexus  1
5   Marvel's Spider-Man Miles Morales  1
8                             Valheim  1
9                 Monster Hunter Rise  1

 * Assassins Creed Valhalla
 * Far Cry 6
 * Immortals Fenyx Rising
 * Kena: Bridge of Spirits
 * Life Is Strange: True Colors
 * Resident Evil Village

## Art Direction

In [65]:
n = ""
for balot in CnomArt:
    n = n + balot + ', '
GOTY = n.split(', ')
GOTYS = set(GOTY)

GOTYnom = []
for game in GOTYS:
    noms = GOTY.count(game)
    GOTYnom.append((game,noms))

CnomArt = pd.DataFrame(GOTYnom)
CnomArt.sort_values(by=[1],ascending=False,inplace=True)
CnomArt

                                   0  1
0                          Far Cry 6  3
4            Kena: Bridge of Spirits  3
7           Assassins Creed Valhalla  3
1             Immortals Fenyx Rising  2
6       Life Is Strange: True Colors  2
9              Resident Evil Village  2
2                                     1
3                      Scarlet Nexus  1
5  Marvel's Spider-Man Miles Morales  1
8                Monster Hunter Rise  1

## Narrative

In [66]:
n = ""
for balot in CnomNar:
    n = n + balot + ', '
GOTY = n.split(', ')
GOTYS = set(GOTY)

GOTYnom = []
for game in GOTYS:
    noms = GOTY.count(game)
    GOTYnom.append((game,noms))

CnomNar = pd.DataFrame(GOTYnom)
CnomNar.sort_values(by=[1],ascending=False,inplace=True)
CnomNar

                                   0  1
5       Life Is Strange: True Colors  4
6           Assassins Creed Valhalla  4
0                          Far Cry 6  3
7              Resident Evil Village  3
3            Kena: Bridge of Spirits  2
4  Marvel's Spider-Man Miles Morales  2
1             Immortals Fenyx Rising  1
2                                     1

## Co-op

In [67]:
n = ""
for balot in CnomCoop:
    n = n + balot + ', '
GOTY = n.split(', ')
GOTYS = set(GOTY)

GOTYnom = []
for game in GOTYS:
    noms = GOTY.count(game)
    GOTYnom.append((game,noms))

CnomCoop = pd.DataFrame(GOTYnom)
CnomCoop.sort_values(by=[1],ascending=False,inplace=True)
CnomCoop

                            0  1
4                It Takes Two  5
6                Back 4 Blood  4
0                              2
1                   Outriders  2
5                     Valheim  2
2         Monster Hunter Rise  1
3  Warioware: Get It Together  1

## PVP

In [68]:
n = ""
for balot in CnomPvp:
    n = n + balot + ', '
GOTY = n.split(', ')
GOTYS = set(GOTY)

GOTYnom = []
for game in GOTYS:
    noms = GOTY.count(game)
    GOTYnom.append((game,noms))

CnomPvp = pd.DataFrame(GOTYnom)
CnomPvp.sort_values(by=[1],ascending=False,inplace=True)
CnomPvp

                           0  1
4              Pokemon Unite  4
1                  Packman99  3
2                  New World  3
3  Hood: Outlaws and Legends  2
0                             1
5              Knockout City  1

## Ongoing

In [69]:
n = ""
for balot in CnomOngo:
    n = n + balot + ', '
GOTY = n.split(', ')
GOTYS = set(GOTY)

GOTYnom = []
for game in GOTYS:
    noms = GOTY.count(game)
    GOTYnom.append((game,noms))

CnomOngo = pd.DataFrame(GOTYnom)
CnomOngo.sort_values(by=[1],ascending=False,inplace=True)
CnomOngo

                      0  1
2             Destiny 2  5
3     Final Fantasy XIV  4
1  Elder Scrolls Online  2
4          Apex Legends  2
0                        1
5              Among Us  1
6      Dead By Daylight  1

## DLC

In [71]:
n = ""
for balot in CnomDLC:
    n = n + balot + ', '
GOTY = n.split(', ')
GOTYS = set(GOTY)

GOTYnom = []
for game in GOTYS:
    noms = GOTY.count(game)
    GOTYnom.append((game,noms))

CnomDLC = pd.DataFrame(GOTYnom)
CnomDLC.sort_values(by=[1],ascending=False,inplace=True)
CnomDLC

                                         0  1
6  Doom Eternal: The Ancient Gods - Part 2  5
0                                           1
1                   Immortals Fenyx Rising  1
2     The Outer Worlds: Murder on Eridanos  1
3              Life is Strange True Colors  1
4       Crusader Kings III: Northern Lords  1
5                Assassin's Creed Valhalla  1

## Open World

In [72]:
n = ""
for balot in CnomOW:
    n = n + balot + ', '
GOTY = n.split(', ')
GOTYS = set(GOTY)

GOTYnom = []
for game in GOTYS:
    noms = GOTY.count(game)
    GOTYnom.append((game,noms))

CnomOW = pd.DataFrame(GOTYnom)
CnomOW.sort_values(by=[1],ascending=False,inplace=True)
CnomOW

                                     0  1
0  Nier Replicant ver.1.22474487139...  4
7             Assassins Creed Valhalla  4
2                            Far Cry 6  3
1               Immortals Fenyx Rising  2
3                                       1
4                            Outriders  1
5    Marvel's Spider-Man Miles Morales  1
6                     New Pokemon Snap  1

## Action

In [73]:
n = ""
for balot in CnomAct:
    n = n + balot + ', '
GOTY = n.split(', ')
GOTYS = set(GOTY)

GOTYnom = []
for game in GOTYS:
    noms = GOTY.count(game)
    GOTYnom.append((game,noms))

CnomAct = pd.DataFrame(GOTYnom)
CnomAct.sort_values(by=[1],ascending=False,inplace=True)
CnomAct

                                   0  1
5           Assassins Creed Valhalla  5
1             Immortals Fenyx Rising  2
4                       It Takes Two  2
7              Resident Evil Village  2
0                                     1
2                      Scarlet Nexus  1
3  Marvel's Spider-Man Miles Morales  1
6                Monster Hunter Rise  1

## Action Adventure

In [74]:
n = ""
for balot in CnomAA:
    n = n + balot + ', '
GOTY = n.split(', ')
GOTYS = set(GOTY)

GOTYnom = []
for game in GOTYS:
    noms = GOTY.count(game)
    GOTYnom.append((game,noms))

CnomAA = pd.DataFrame(GOTYnom)
CnomAA.sort_values(by=[1],ascending=False,inplace=True)
CnomAA

                                   0  1
7           Assassins Creed Valhalla  5
5                       It Takes Two  3
1             Immortals Fenyx Rising  2
3                      Scarlet Nexus  2
4            Kena: Bridge of Spirits  2
8              Resident Evil Village  2
0                                     1
2  Marvel's Spider-Man Miles Morales  1
6                      Metroid Dread  1

## Strategy

In [75]:
n = ""
for balot in CnomStra:
    n = n + balot + ', '
GOTY = n.split(', ')
GOTYS = set(GOTY)

GOTYnom = []
for game in GOTYS:
    noms = GOTY.count(game)
    GOTYnom.append((game,noms))

CnomStra = pd.DataFrame(GOTYnom)
CnomStra.sort_values(by=[1],ascending=False,inplace=True)
CnomStra

                                       0  1
3                      Age of Empires IV  3
5                  Resident Evil Village  3
1  Warhammer Age of Sigmar: Storm Ground  2
0                                         1
2        Evil Genius 2: World Domination  1
4                          Empire of Sin  1

## RPG

In [76]:
n = ""
for balot in CnomRPG:
    n = n + balot + ', '
GOTY = n.split(', ')
GOTYS = set(GOTY)

GOTYnom = []
for game in GOTYS:
    noms = GOTY.count(game)
    GOTYnom.append((game,noms))

CnomRPG = pd.DataFrame(GOTYnom)
CnomRPG.sort_values(by=[1],ascending=False,inplace=True)
CnomRPG

                                    0  1
5            Assassins Creed Valhalla  5
1             Kena: Bridge of Spirits  3
2                       Scarlet Nexus  2
0                                      1
3  Pathfinder: Wrath of the Righteous  1
4                      Tales of Arise  1
6                 Monster Hunter Rise  1
7            Monster Hunter Stories 2  1

## Sports/Fighting

In [77]:
n = ""
for balot in CnomSpor:
    n = n + balot + ', '
GOTY = n.split(', ')
GOTYS = set(GOTY)

GOTYnom = []
for game in GOTYS:
    noms = GOTY.count(game)
    GOTYnom.append((game,noms))

CnomSpor = pd.DataFrame(GOTYnom)
CnomSpor.sort_values(by=[1],ascending=False,inplace=True)
CnomSpor

                        0  1
1                 FIFA 22  2
2         MLB The Show 21  2
5  Mario Golf: Super Rush  2
0                 F1 2021  1
3                          1
4                  NHL 22  1
6           Knockout City  1
7               Madden 22  1

## E/E10+

In [78]:
n = ""
for balot in CnomFam:
    n = n + balot + ', '
GOTY = n.split(', ')
GOTYS = set(GOTY)

GOTYnom = []
for game in GOTYS:
    noms = GOTY.count(game)
    GOTYnom.append((game,noms))

CnomFam = pd.DataFrame(GOTYnom)
CnomFam.sort_values(by=[1],ascending=False,inplace=True)
CnomFam

                             0  1
6  Ratchet & Clank: Rift Apart  5
1                 Pokemon Snap  2
4                    Packman99  2
0                               1
2      Mario Party Superstars   1
3   Warioware: Get It Together  1
5    Alba A Wildlife Adventure  1
7            Balan Wonderworld  1

## Remaster

In [79]:
n = ""
for balot in CnomRe:
    n = n + balot + ', '
GOTY = n.split(', ')
GOTYS = set(GOTY)

GOTYnom = []
for game in GOTYS:
    noms = GOTY.count(game)
    GOTYnom.append((game,noms))

CnomRe = pd.DataFrame(GOTYnom)
CnomRe.sort_values(by=[1],ascending=False,inplace=True)
CnomRe

                                       0  1
6                         Nier Replicant  4
1                            Mass Effect  3
5      The Great Ace Attorney Chronicles  3
3                         Kingdom Hearts  2
0                                         1
2                 Famicom Detective Club  1
4  Life Is Strange Remastered Collection  1
7                    Oddworld: Soulstorm  1

## Indie

In [80]:
n = ""
for balot in CnomIndi:
    n = n + balot + ', '
GOTY = n.split(', ')
GOTYS = set(GOTY)

GOTYnom = []
for game in GOTYS:
    noms = GOTY.count(game)
    GOTYnom.append((game,noms))

CnomIndi = pd.DataFrame(GOTYnom)
CnomIndi.sort_values(by=[1],ascending=False,inplace=True)
CnomIndi

                         0  1
3  Kena: Bridge of Spirits  4
5                  Valheim  3
1        Boyfriend Dungeon  2
2               12 Minutes  2
4             Genesis Noir  2
0                           1
6     Power Wash Simulator  1
7             Death's Door  1

## Content Creator

In [81]:
n = ""
for balot in CnomCont:
    n = n + balot + ', '
GOTY = n.split(', ')
GOTYS = set(GOTY)

GOTYnom = []
for game in GOTYS:
    noms = GOTY.count(game)
    GOTYnom.append((game,noms))

CnomCont = pd.DataFrame(GOTYnom)
CnomCont.sort_values(by=[1],ascending=False,inplace=True)
CnomCont

                    0  1
4       Critical Role  4
0                      2
6              DrLupo  2
1      corpse husband  1
2              Ludwig  1
3  MarineMammalRescue  1
5      crankgameplays  1
7          MontereyAq  1
8        TimTheTatman  1
9       MoistCritical  1

## QuinQuo

In [88]:
def singler(nom_chunk, colname):
    old1 = colname + ' 1'
    old2 = colname + ' 2'
    old3 = colname + ' 3'
    old4 = colname + ' 4'

    try:
        t1 = nom_chunk[old1]
        t2 = nom_chunk[old2]
        t3 = nom_chunk[old3]
        t4 = nom_chunk[old4]
    except:
        old1 = colname + ' 1.1'
        old2 = colname + ' 2.1'
        old3 = colname + ' 3.1'
        old4 = colname + ' 4.1'
        t1 = nom_chunk[old1]
        t2 = nom_chunk[old2]
        t3 = nom_chunk[old3]
        t4 = nom_chunk[old4]
        

    t1 = pd.DataFrame(t1)
    t2 = pd.DataFrame(t2)
    t3 = pd.DataFrame(t3)
    t4 = pd.DataFrame(t4)
    t1.rename({old1:colname},axis = 'columns', inplace = True)
    t2.rename({old2:colname},axis = 'columns', inplace = True)
    t3.rename({old3:colname},axis = 'columns', inplace = True)
    t4.rename({old4:colname},axis = 'columns', inplace = True)

    temp = pd.concat([t1,t2,t3,t4], ignore_index=True, sort = False)
    temp = temp[colname].str.lower()
    temp = temp.str.replace(':','')
    temp = pd.DataFrame(temp)
    return temp

Now we can run all of the mini tables into the function and get out a full list of games in a single column. However, since this will have nan values (which we don't want), we'll just drop them, and move on from there!

In [89]:
QnomGOTY

,GOTY 1,GOTY 2,GOTY 3,GOTY 4
0,Bioshock Infinite,Uncharted 4 A Thief's End,Pikmin 3,Life is Strange
1,Stardew Valley,Dark Souls,The Sims 4,NaN
2,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
4,Minecraft,GTA 5,Super Mario 64,Rocket League

In [90]:
QGOTY = singler(QnomGOTY, 'GOTY').dropna()
QPerf = singler(QnomPerf, 'Performance').dropna()
QMusi = singler(QnomMusi, 'Music').dropna()
QArt = singler(QnomArt, 'Art').dropna()

Now that we have all these tables, we need to simplify and find similar games/characters/etc, so here we have another function to simplify the titles (and for some categories, we'll have to look at all the entries to do this -> we have to supervise this process so that it actually goes the correct way...)

In [84]:
def simplify(text, game_dict):
    fkw = ''
    found = False
    for kw in game_dict:
        if kw in text:
            found = True
            break
        else:
            found = False
    if found:
        return game_dict[kw]
    else:
        return text

Now that we have this, everything is much simpler! We just need to make occasional dictionaries where we have multiples of names not in the same format!
We can basically just group and count, then apply this function as needed! So, without further ado, here are the nominees for the awards!

---

so our top entries are:

## THE QUINQUO!! Games of 2021

### The Quinquo Game of the Year 2021

In [91]:
CA = pd.DataFrame(QGOTY.copy())

quinDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order',
            'pokemon':'pokemon sword/shield',
            'hades':'hades',
            'streets of rage':'streets of rage 4',
            'final fantasy':'final fantasy vii',
            'death stranding':'death stranding',
            'last of us':'the last of us part 1',
            'phasm':'phasmaphobia',
            'fall':'fall guys',
            'cod':'call of duty modern warfare',
            'd2':'destiny 2',
            'destiny':'destiny 2',
            'apex':'apex legends',
            'fortnight':'fortnite',
            'ori':'ori and the will of the wisps',
            'flight sim':'Microsoft Flight Simulator',
            'fifa':'fifa 21',
            'ff7':'final fantasy vii',
            'amalur':'kingdoms of amalur re-reckoning',
            're3':'resident evil 3',
            'mafia ii':'mafia 2',
            'mafia 2':'mafia 2',
            'carr':'carrion 2',
            'spider':'marvels spider-man',
            'gears 5':'gears 5'

            }


CA['GOTY'] = CA['GOTY'].apply(simplify,args = (quinDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['GOTY']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                           nominations
GOTY
bioshock infinite                    1
dark souls                           1
gta 5                                1
life is strange                      1
minecraft                            1
pikmin 3                             1
rocket league                        1
stardew valley                       1
super mario 64                       1
the sims 4                           1
uncharted 4 a thief's end            1

### The Quinquo Performance of the Year 2020

In [92]:
CA = pd.DataFrame(QPerf.copy())

qperfDic = {'abby':'laura bailey as abby anderson from the last of us part 2',
            'ellie':'ashley johnson as ellie from the last of us part 1',
            'bruce banner':'troy baker as bruce banner from marvels avengers',
            'tommy angelo':'andrew bongiorno as tommy angelo from mafia definitive edition',
            'tom nook':'tom nook as tom nook from animal crossing new horizons',
            'ori':'andrew lackey as ori from ori and the blind forest',
            'kamala khan':'sandra saad as kamala khan in marvels avengers',
            'isabelle':'isabelle as isabelle from animal crossing new horizons',
            'trilla':'elizabeth grullon as trilla from star wars jedi fallen order',
            'mikayla':'debra wilson as mikayla dorn from gears tactics',
            'cere':'debra wilson as cere from star wars jedi fallen order',
            'zagreus':'darren korb as zagreus from hades',
            'captain price':'barry sloan as captain price from modern warfare',
            'cal':'cameron monaghan as cal kestis from star wars jedi fallen order',
            'hades':'logan cunningham as lord hades from hades',
            'kait':'laura bailey as kait diaz from gears 5',
            'joel':'troy baker as joel from the last of us part 1'}


CA['Performance'] = CA['Performance'].apply(simplify,args = (qperfDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['Performance']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                                          nominations
Performance
chloe price (life is strange)                       1
delilah (firewatch)                                 1
elizabeth comstock (bioshock infinite)              1
nathan drake (uncharted 4 a thief's end)            1

### The Quinquo Best Music of 2020

In [93]:
CA = pd.DataFrame(QMusi.copy())

quinDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order',
            'pokemon':'pokemon sword/shield',
            'hades':'hades',
            'streets of rage':'streets of rage 4',
            'final fantasy':'final fantasy vii',
            'death stranding':'death stranding',
            'last of us':'the last of us part 1',
            'phasm':'phasmaphobia',
            'fall':'fall guys',
            'cod':'call of duty modern warfare',
            'd2':'destiny 2',
            'destiny':'destiny 2',
            'apex':'apex legends',
            'fortnight':'fortnite',
            'ori':'ori and the blind forest',
            'flight sim':'Microsoft Flight Simulator',
            'fifa':'fifa 20',
            'ff7':'final fantasy vii',
            'amalur':'kingdoms of amalur re-reckoning',
            're3':'resident evil 3',
            'mafia ii':'mafia 2',
            'mafia 2':'mafia 2',
            'carr':'carrion 2',
            'spider':'marvels spider-man',
            'gears 5':'gears 5'

            }


CA['Music'] = CA['Music'].apply(simplify,args = (quinDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['Music']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                           nominations
Music
dark souls                           1
firewatch                            1
life is strange                      1
pikmin 3                             1
stardew valley                       1
uncharted 4 a thief's end            1

Best Quinquo Music contenders:
 - Ori and the Blind Forest
 - Marvel's Spider-man


---

### The Quinquo Best Art of 2020

In [94]:
CA = pd.DataFrame(QArt.copy())

quinDic = {'valhalla':'assassins creed valhalla',
            'new horizons':'animal crossing new horizons',
            'animal crossing':'animal crossing new horizons',
            'jedi':'star wars jedi fallen order',
            'fallen order':'star wars jedi fallen order',
            'pokemon':'pokemon sword/shield',
            'hades':'hades',
            'streets of rage':'streets of rage 4',
            'final fantasy':'final fantasy vii',
            'death stranding':'death stranding',
            'last of us':'the last of us part 1',
            'phasm':'phasmaphobia',
            'fall':'fall guys',
            'cod':'call of duty modern warfare',
            'd2':'destiny 2',
            'destiny':'destiny 2',
            'apex':'apex legends',
            'fortnight':'fortnite',
            'ori':'ori and the blind forest',
            'flight sim':'Microsoft Flight Simulator',
            'fifa':'fifa 20',
            'ff7':'final fantasy vii',
            'amalur':'kingdoms of amalur re-reckoning',
            're3':'resident evil 3',
            'mafia ii':'mafia 2',
            'mafia 2':'mafia 2',
            'carr':'carrion 2',
            'spider':'marvels spider-man',
            'gears 5':'gears 5'

            }


CA['Art'] = CA['Art'].apply(simplify,args = (quinDic,))
CA = pd.DataFrame(CA)

CA = CA.groupby(['Art']).size()
CA = pd.DataFrame(CA)
CA.rename({0:'nominations'},axis = 'columns', inplace = True)
CA.sort_values(by=['nominations'], ascending = False)

                           nominations
Art
bioshock infinite                    1
dark souls                           1
firewatch                            1
pikmin 3                             1
stardew valley                       1
uncharted 4 a thief's end            1

## Conclusion

As a result of the low voting in the Quinquo category, it will be excluded from this year's BGAs

And that's it for this year guys! Those are the nominees, get ready to vote for your favorites!